<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="github.bewantbe.audio_analyzer_for_android"
    android:versionCode="20180114"
    android:versionName="1.7.0alpha"
    android:installLocation="auto">

    <!--<uses-sdk-->
        <!--android:minSdkVersion="8"-->
        <!--android:targetSdkVersion="25" />-->

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/DarkThemeSelector" >
        <activity
            android:name="github.bewantbe.audio_analyzer_for_android.AnalyzerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <!-- Deeplink support -->
                <!-- https://developer.android.com/training/app-indexing/deep-linking.html -->
                <!-- Can start app by -->
                <!-- adb shell am start -W -a android.intent.action.VIEW -d "bewantbe://asa" -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="bewantbe" android:host="asa" />
            </intent-filter>
        </activity>
        <activity
            android:name="github.bewantbe.audio_analyzer_for_android.MyPreferences"
            android:label="@string/preferences" >
        </activity>
        <activity
            android:name="github.bewantbe.audio_analyzer_for_android.InfoRecActivity"
            android:label="@string/title_activity_info_rec"
            android:parentActivityName="github.bewantbe.audio_analyzer_for_android.AnalyzerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="github.bewantbe.audio_analyzer_for_android.AnalyzerActivity" />
        </activity>
    </application>

</manifest>